*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(images/fondo.jpg);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size: cover;
        
    
}

.logo{

    width:6rem;
    height: 6rem ;
    background-image: url(images/code.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    
    
}

nav{
    background-color: gray;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.menubtn:hover{
    background-color: black;
}




.menu ul{

    display: flex;
    justify-content: flex-end;
    
        
    

}

.menu ul li{

    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.menu ul li a {

    text-decoration: none;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.presentacion{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin-top: 25vh;
    
      
}

.presentacion h2{
    text-align: center;
}

.presentacion h3{

    color: rgba(255, 238, 0, 0.795);
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
}

.presentacion h2{

    font-size: 4rem;
}

.btn{
    margin-top: 2vh;
    background-color: darkgray;
    color: #080a0a;
    
}

.btn:hover{
    background-color: grey;
}

.about {
    
    

    height: 10vh;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 10vh;
    
   
}

.about h1{

    
    text-align: left;
    font-size: 3rem;
}

.about p {

    margin-top: 1vh;
    font-size: 2rem;
}




.tecnologies{
    height: 10vh;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 42vh;
}

.tecnologies h1{
    font-size: 3rem;
}

.icon{
    margin-top: 1vh;
    width: 5rem;
}

.icon:hover{
    height: 8rem ;
    width: 8rem;
}

.icon2{
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: .5vw;
    width: 3rem;
}

.icon2:hover{
    height:5rem;
    width:5rem;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.icon3{
    margin-top: 1vh;
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
}

.icon3:hover{

    height:5rem;
    width:5rem;
    margin-top: 0vh;
    margin-bottom: 0vh;


}

ul li{

    list-style: none;

}



.proyectos{

    height: 10vh;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 21vh;
    
}

.proyectos h1{
    font-size: 3rem;
}
.box{
    margin-top: 5vh;
    margin-bottom: 1vh;
    position: relative;

}

.box h4{
    margin-bottom: 2vh;
    font-size: 2.5vh;
}

.box::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 120%;
    background-color: red;
    left:-15px;
    top: 10px;
}

.box::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    left:-25px;
    top: 7px;
}

.project{
    background-image: url(images/website_cover.png) ;
    background-position: center;
    background-size: cover;
    width: 70vw;
    height: 50vh;
    

}

.project2{
    background-image: url(images/portfolio_cover.png) ;
    background-position: center;
    background-size: cover;
    width: 70vw;
    height: 50vh;

}

footer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 14vh;
    display: flex;
    margin-top: 135vh;
    background-color: gray;
    opacity: .5;
}

.footer-info{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
    
}



footer h1{
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    padding-left: 1vh;
    font-size: 1rem;
    text-align: center;
}

footer ul li{
    float: left;

}

